.schedule-item__not-exists {
  text-align: center;
}
  .schedule-item {
    margin-top: 2em;

    .schedule-item__date {
      text-align: center;
    }
    .schedule-item__container{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      grid-row-gap: 0px;
      padding-bottom: 0;
      padding-top: 0;
    }

    .schedule-item__list {
      border: 1px solid rgba(0,0,0,0.07);
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 0;
      grid-row-gap: 0;
      margin: 2em auto 0;
      -webkit-box-shadow: 0 25px 25px -24px rgba(0,0,0,0.46);
      -moz-box-shadow: 0 25px 25px -24px rgba(0,0,0,0.46);
      box-shadow: 0 25px 25px -24px rgba(0,0,0,0.46);
      border-radius: 30px;
      padding-top: 0;
      padding-bottom: 0;
    }
    .schedule-item__list-time{
      text-align: center;
    }
    .schedule-item__list-text {
      max-width: 280px;
      text-align: center;
    }
    .schedule-item__list-audience {
      text-align: center;
    }
  }


  @media (max-width: 399px) {
    .schedule-item {
      margin-top: 1em;
      .schedule-item__date {
        font-size: 1.3rem ;
      }
      .schedule-item__list {
        margin: 1em auto 0;
      }
      .schedule-item__list-text span {
        font-size: .7rem;
      }
      .schedule-item__list-text p {
        font-size: .5rem;
      }
      .schedule-item__list-time {
        font-size: 10px;
      }
      .schedule-item__list-audience {
        font-size: 10px;
      }
    }
  }


  @media (min-width: 400px) and (max-width: 575px) {
    .schedule-item {
      margin-top: 1em;
      .schedule-item__date {
        font-size: 1.5rem;
      }
      .schedule-item__list {
        margin: 1em auto 0;
      }
      .schedule-item__list-time {
        font-size: .8rem;
      }
      .schedule-item__list-text span {
        font-size: .9rem;
      }
      .schedule-item__list-text p {
        font-size: .7rem;
      }
      .schedule-item__list-audience {
        font-size: .8rem;
      }
    }
  }

  /* sm (>=576 и <=767) */
  @media (min-width: 576px) and (max-width: 767px) { .schedule-item {
    margin-top: 1em;
    .schedule-item__date {
      font-size: 1.5rem;
    }
    .schedule-item__list {
      margin: 1em auto 0;
    }
    .schedule-item__list-text span {
      font-size: 0.9rem;
    }
    .schedule-item__list-text p {
      font-size: 0.7rem;
    }
  } }